# MONGODB
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority

# JWT
JWT_SECRET=wpisz_tutaj_swoj_tajny_klucz_jwt
JWT_EXPIRE=30d
REFRESH_JWT_SECRET=tutaj_wpisz_secret



# google autoyryzacja
# limity api ??


# Domena aplikacji
DOMAIN=http://localhost
# Port aplikacji 
# PORT=3000